<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andromeda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ANDROMEDA">
        <activity
            android:name=".Perro36"
            android:exported="false" />
        <activity
            android:name=".Perro35"
            android:exported="false" />
        <activity
            android:name=".Perro34"
            android:exported="false" />
        <activity
            android:name=".Perro33"
            android:exported="false" />
        <activity
            android:name=".Perro32"
            android:exported="false" />
        <activity
            android:name=".Perro31"
            android:exported="false" />
        <activity
            android:name=".Perro30"
            android:exported="false" />
        <activity
            android:name=".Perro29"
            android:exported="false" />
        <activity
            android:name=".Perro28"
            android:exported="false" />
        <activity
            android:name=".Perro27"
            android:exported="false" />
        <activity
            android:name=".Perro26"
            android:exported="false" />
        <activity
            android:name=".Perro25"
            android:exported="false" />
        <activity
            android:name=".Perro24"
            android:exported="false" />
        <activity
            android:name=".Perro23"
            android:exported="false" />
        <activity
            android:name=".Perro22"
            android:exported="false" />
        <activity
            android:name=".Perro21"
            android:exported="false" />
        <activity
            android:name=".Perro20"
            android:exported="false" />
        <activity
            android:name=".Perro19"
            android:exported="false" />
        <activity
            android:name=".Perro18"
            android:exported="false" />
        <activity
            android:name=".Perro17"
            android:exported="false" />
        <activity
            android:name=".Perro16"
            android:exported="false" />
        <activity
            android:name=".Perro15"
            android:exported="false" />
        <activity
            android:name=".Perro14"
            android:exported="false" />
        <activity
            android:name=".Perro13"
            android:exported="false" />
        <activity
            android:name=".Perro12"
            android:exported="false" />
        <activity
            android:name=".Perro11"
            android:exported="false" />
        <activity
            android:name=".Perro10"
            android:exported="false" />
        <activity
            android:name=".Perro9"
            android:exported="false" />
        <activity
            android:name=".Perro8"
            android:exported="false" />
        <activity
            android:name=".Perro7"
            android:exported="false" />
        <activity
            android:name=".Perro6"
            android:exported="false" />
        <activity
            android:name=".Perro5"
            android:exported="false" />
        <activity
            android:name=".Perro4"
            android:exported="false" />
        <activity
            android:name=".Perro3"
            android:exported="false" />
        <activity
            android:name=".Perro2"
            android:exported="false" />
        <activity
            android:name=".Perro1"
            android:exported="false" />
        <activity
            android:name=".PerrosBacalar"
            android:exported="false" />
        <activity
            android:name=".PerrosCancun"
            android:exported="false" />
        <activity
            android:name=".PerrosPlayaDC"
            android:exported="false" />
        <activity
            android:name=".PerrosTulum"
            android:exported="false" />
        <activity
            android:name=".PerrosChetu"
            android:exported="false" />
        <activity
            android:name=".PerrosFcp"
            android:exported="false" />
        <activity
            android:name=".Centros"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>